# Backend API base URL for admin app
#VITE_API_URL=http://localhost:4000
VITE_API_URL=https://toc-adminbackend.vercel.app

# Unified login page URL hosted by my-app
# For local dev:
# VITE_MYAPP_LOGIN_URL=http://localhost:3000/login
# For production:
VITE_MYAPP_LOGIN_URL=https://toc-userfrontend.vercel.app/login